* {
  box-sizing: border-box;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.products {
  display: flex;
  flex-wrap: wrap;
  margin-left: 100px;
}

.productcard {
  background: rgb(238, 238, 238);
  margin: 0.5rem 1rem;
  border-radius: 5px;
  padding: 2px;
  text-align: center;
  border: 1px solid rgb(131, 131, 131);
}
.productcard img {
  height: 335px;
  width: 250px;
  border-radius: 5px;
}

.productcard:hover {
  background: rgb(214, 214, 214);
  border: 1px solid #ff0000;
}

.addcart {
  background-color: rgb(131, 131, 131);
  color: white;
  border-radius: 5px;
  width: 100%;
  font-size: 1.5rem;
  padding: 10px 0;
  cursor: pointer;
}
.addcart:hover {
  background: #ff0000c5;
  /* color: #ff0000; */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.size {
  border: 1px solid red;
  height: 50px;
  width: 50px;
  text-align: center;
  border-radius: 50%;
  margin: 10px;
  display: block;
  cursor: pointer;
}
.sizeComponent {
  margin-top: 80px;
  width: 20%;
  padding-left: 1rem;
  position: fixed;
}

.home {
  display: flex;
  margin-top: 1rem;
  position: relative;
}

.activeClass {
  background: black;
  color: white;
}

.productLength {
  margin-left: 120px;
  font-size: 1.2rem;
}

.priceShorting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* text-align: right;
  margin-right: 50px; */
  font-size: 1.5rem;
}

.priceShorting select {
  font-size: 1.2rem;
  padding: 5px;
  margin-left: 10px;
  margin-right: 120px;
}
.priceShorting input {
  font-size: 1rem;
  padding: 5px;
}

.cart {
  height: 80px;
  width: 80px;
  background: black;
  right: 0px;
  top: 0px;
  position: fixed;
  cursor: pointer;
}
.cartItems {
  background: yellow;
  height: 15x;
  width: 45px;
  padding: 1px;
  border-radius: 50%;
}
.cartPage {
  right: 0px;
  top: -10px;
  position: fixed;
  background: #1b1a20;
  color: white;
  height: 78vh;
  width: 350px;
  overflow-y: scroll;
}
.cartPage span {
  font-size: 3rem;
  color: white;
  margin: 10px;
  display: inline-block;
  cursor: pointer;
}

.cartHero {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
.cartHero img {
  width: 50px;
  margin-right: 1rem;
}
.cartHero p {
  background: yellow;
  color: black;
  padding: 5px;
  margin: 0 10px;
  width: 40px;
  text-align: center;
  border-radius: 50%;
}

.cartCard {
  display: flex;
  margin: 0 0.5rem;
  padding: 1rem 0;
  border-top: 1px solid black;
  /* background-image: url(../public/static/sprite_delete-icon.png); */
}
.closeCartCard {
  text-align: right;
}
.cartCard button {
  border: none;
  cursor: pointer;
  border-radius: 5px;
  color: #27252e;
  background: black;
  font-size: 1.4rem;
  margin-bottom: 0;
  font-weight: 900;
}
.cartCardDescription {
  display: flex;
  justify-content: space-between;
  width: 200px;
  font-size: 1.2rem;
}
.cartCardDescription p {
  margin-top: 10px;
}
.cartCard img {
  margin-right: 1rem;
  width: 100px;
}
.cartProductPrice {
  color: yellow;
}
.totalAmount {
  color: yellow;
  font-size: 2rem;
}
.cartTotal {
  display: flex;
  justify-content: space-between;
  margin: 0 2rem;
}
.cartTotal p {
  color: rgb(131, 131, 131);
  font-size: 1.5rem;
}
.checkout {
  background: rgb(14, 14, 14);
  color: white;
  padding: 5px;
  font-size: 1.2rem;
  border: none;
  width: 100%;
  margin: 10px;
  cursor: pointer;
}
.checkout:hover {
  background: black;
}
.cartAmount {
  position: fixed;
  z-index: 5;
  width: 347px;
  background: rgb(36, 36, 36);
  /* right: 0; */
  bottom: 0;
}
.quantity {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.quant {
  display: flex;
}

.minusQuantity {
  padding: 0 10px;
  height: 30px;
}
.addQuantity {
  padding: 0 8px;
  margin-left: 5px;
  height: 30px;
}
li {
  list-style: none;
}
